@import "tailwindcss";

/*================== Font link========================= */
/* ---------------Roboto Font Family ------------*/
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-ExtraBold.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-ExtraLight.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-SemiBold.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/*---------------- Poppins Font Family------------------ */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Black.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ExtraBold.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ExtraLight.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Thin.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}



/* ================= Basic Style ====================== */
@theme{
    /* Font Family */
    --font-roboto: 'Roboto', sans-serif;
    --font-poppins: 'Poppins', sans-serif;

    /* Color Palette */
    --color-primary: #012E41;
    --color-secondary: #F6F6F6;
    --color-2: #26A59E;
    --color-body: #345867;
    --color-body-3: #012E41B2;
    --color-orange:#FA7335;
    --color-orange-2:##FFD482;
    --color-white-200:#F4F4F6;
    --color-white-1000:rgba(255,255,255,.75);
    --color-border:#E9E9E9;
    --color-primary-bg: rgba(1, 46, 65, 0.80);
    --color-secondary-bg: rgba(0, 0, 0, 0.65);
    --color-brdr-1:rgba(38, 165, 158, 0.50);
    --color-body-2:#E7E7E7;

    
    /* Gradient */
    --background-image-gradient: rgba(255, 255, 255, 0.75);
    /* Custom Font Size */
    --text-64x:4rem;
    --text-48x:3rem;
    --text-34x:2.125rem;

    /* Custom shadow */
    --inset-shadow-primary: 0px 4px 15px rgba(0, 0, 0, 0.1);
    /* Custom Blur */
    --blur-primary:2.5px;

    /* Keyframes */
    --animate-rotateText: rotateText 10s linear infinite;

    @keyframes rotateText {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
    /* aspect ratio */
    --aspect-hero-ctg: 46 / 39;
    --aspect-top-destination-img: 70 / 71;
    --aspect-blog-img:  636.00 / 446.31;


}

.container {
    @apply max-w-324 mx-auto 2xl:px-0 px-4 md:px-8;
}

@layer base {
  body {
    @apply font-roboto not-italic bg-white;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-poppins;
  }
  .site-intro{
    @apply text-base text-orange leading-6 font-normal uppercase;
  }
  .heading-2{
    @apply md:text-48x text-4xl font-semibold md:leading-14.25 leading-10 text-primary;
  }
  .heading-3{
    @apply text-primary text-34x font-medium leading-10 transition-all duration-300 ease-in-out hover:text-orange;
  }
}
/* ================= Component Style ====================== */
@layer components {
    
}


/*==================== Header Section ==========================*/
header {
    @apply py-5 transition-all duration-300 ease-in-out border-b-1 border-[#dddddd45];
}
.scroll-header{
    @apply bg-white-1000 inset-shadow-primary sticky top-0 z-999 w-full;
    backdrop-filter: blur(5.5px);
}
.site-logo a img {
    aspect-ratio: 47/18;
}
.mainmenu ul{
    @apply flex;
}
.mainmenu ul li a {
    @apply p-2 text-secondary-bg text-sm  leading-6 transition-all duration-300 ease-in-out  hover:text-orange;
}
.header-btn a {
    @apply text-white text-sm leading-6 font-normal py-2.25 px-5.25 bg-2 inline-block border-1 border-2 rounded-sm transition-all duration-300 ease-in-out hover:bg-white hover:text-2 hover:border-2 hover:border-2; 
}

/*==================== Mobile Menu ==========================*/
.mobile-menu ul li a{
    @apply text-secondary-bg text-sm  leading-6 transition-all duration-300 ease-in-out  hover:text-orange active:text-orange focus:text-orange;
}

.mobile-menu {
    @apply hidden text-center;
}
.mobile-menu ul {
    @apply flex flex-col gap-4;
}


.menu-toggle {
    @apply w-7.5 cursor-pointer;
}
.menu-toggle span {
    @apply block h-0.75 bg-black my-1.5 transition-all duration-300 ease-in-out;
}

/* Hamburger animation */
.menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}
.menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* Mobile menu */
.mobile-menu {
    @apply hidden bg-white p-5;
}
.mobile-menu ul {
    @apply p-0 list-none;
}
.mobile-menu ul li {
    @apply mb-2.5;
}
.mobile-menu ul li a {
    @apply no-underline text-secondary-bg text-sm  leading-6 transition-all duration-300 ease-in-out  hover:text-orange active:text-orange focus:text-orange; 
}


/*==================== Hero Section ==========================*/
.hero-area{
    @apply bg-cover bg-top-left bg-scroll bg-no-repeat pt-20.5;
}
.hero-title span{
    @apply text-orange font-medium text-lg leading-6;
}
.hero-title h1{
    @apply text-primary lg:text-64x text-48x  leading-14.5  lg:leading-19 font-medium pt-3 pb-6;
}
.hero-title p{
    @apply lg:w-104 text-body text-base leading-6 font-normal;
}
.hero-left-bg{
    @apply relative flex flex-col gap-5;
}

.hero-bg-1 {
    @apply lg:w-93 md:w-65 ;
}
.hero-bg-2 {
    @apply lg:w-82.5 xl:w-110  md:absolute lg:top-37.5 md:top-26.5 right-0 md:w-65;

}

.hero-bg-1 img {
    @apply aspect-square object-cover rounded-xl;

}
.hero-bg-2 img {
    @apply aspect-square object-cover object-center rounded-xl;

}

.hero-rotate-icon {
    @apply absolute right-10 top-10 lg:top-5 lg:right-17.5 xl:right-7.5 xl:bg-transparent bg-white rounded-full xl:p-0 p-3;
}

.hero-icon {
    @apply animate-rotateText size-25 relative;
}

.hero-content-icon {
  @apply w-full text-xs text-primary font-medium tracking-tight capitalize relative; 
}

.hero-content-icon span {
  transform-origin: 0 50px;
  white-space: pre;
  @apply absolute left-[50%] top-[50%]; 

}

.hero-play-icon {
    @apply top-10 left-10 absolute;
}


/* ------------------------hero-form  --------------------------*/
.hero-form{
    @apply xl:mt-21 mt-20 lg:mt-13.75 relative bg-primary-bg rounded-lg;
}
.hero-form form{
    @apply px-7 py-8;
}
.single-hero-form {
    @apply flex flex-col gap-1 relative;
}
.single-hero-form label{
    @apply text-white-200 text-base leading-6 font-normal;
}
.single-hero-form select{
    @apply appearance-none px-6.25 py-2.25 bg-white rounded-sm border-1 border-body-2 text-primary outline-none text-base leading-6 font-normal focus:border-2 focus:border-2 focus:border-2;
}
.single-hero-form::after {
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='11' height='6' viewBox='0 0 11 6' fill='none'><path d='M0.75 0.75L5.25 5.25L9.75 0.75' stroke='%23343A40' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    @apply absolute content-[""] right-3.5 top-[70%] w-3 h-1.5 pointer-events-none bg-no-repeat bg-contain;
}
.single-hero-forms{
    @apply flex flex-col
}
.single-hero-forms .hero-form-btn{
    @apply block text-white bg-orange p-2.5 cursor-pointer transition-all duration-300 ease-in-out hover:bg-white hover:text-2 hover:border-2 hover:border-2 active:bg-white active:text-2 active:border-2 active:border-2 focus:bg-white focus:text-2 focus:border-2 focus:border-2 rounded-sm;
}

/* ------------------------Hero Catagories-------------------------- */
.hero-catagories{
    @apply pt-30 pb-7.5 flex flex-col gap-15;
}
.hero-catagories-title{
    @apply md:w-154.5 mx-auto flex flex-col gap-2 text-center;
}
.hero-catagories-title span{
    @apply text-orange text-sm font-normal leading-6 uppercase;
}
.hero-catagories-title h2{
    @apply md:text-48x text-4xl font-semibold md:leading-14.25 leading-10 text-primary;
}
.hero-catagories-contents{
    @apply grid grid-cols-1 xl:grid-cols-4 md:grid-cols-2 gap-6;
}
.single-hero-catagories-content{
    @apply py-6.25 px-11 flex flex-col gap-4 rounded-xl bg-white border-1 border-brdr-1 transition-all duration-300 ease-in-out hover:bg-2 focus:bg-2 active:bg-2 hover:text-white focus:text-white active:text-white lg:focus:bg-white lg:focus:text-inherit lg:active:bg-white lg:active:text-inherit;;
}
.single-hero-catagories-content:hover h3{
    @apply text-white hover:text-white focus:text-white active:text-white lg:text-inherit;
}
.single-hero-catagories-content img {
    @apply mx-auto aspect-hero-ctg flex shrink-0 object-cover;
}
.hero-catagories-content{
    @apply text-center;
}
.hero-catagories-content{
    @apply flex flex-col gap-4;
}
.hero-catagories-content h3{
    @apply text-xl font-semibold text-primary leading-6 transition-all duration-300 ease-in-out  ;
}
.hero-catagories-content p{
    @apply leading-6 text-primary text-base font-normal transition-all duration-300 ease-in-out ;
}
.single-hero-catagories-content:hover p{
    @apply text-white hover:text-white focus:text-white active:text-white lg:text-inherit;
}

/* ------------------------About Section ----------------------------*/
.about-area{
    @apply pt-15 pb-22.5;
}
.about-left-content{
    @apply flex flex-col gap-8;
}
.about-bg1{
    @apply xl:w-107.5 lg:w-82.5 md:w-70 w-full;
}
.about-bg2 {
    @apply 2xl:w-135 xl:w-125 lg:w-93 md:w-61 w-full;
}
.about-bg3 {
    @apply 2xl:w-135 xl:w-100 lg:w-82 md:w-71.5 w-full;
}

.about-bg1 img,.about-bg2 img ,.about-bg3 img{
    @apply md:rounded-4xl rounded-xl;
}
.about-left-content{
    @apply relative;
}
.about-bg2 {
    @apply md:absolute top-30 left-23 -z-1
}

.about-bg3 {
    @apply md:absolute lg:top-82.5 md:top-61.25 -z-2;
}

/*---------------- About Content--------------------- */
.about-right-content{
    @apply flex flex-col gap-6  lg:py-33.75;
}
.abt-t.rotate-text span {
  transform-origin: 0 48px;
  @apply absolute
}


.about-btn {
    @apply relative;
}

.about-btn-content {
    @apply absolute font-semibold left-11.25 uppercase text-primary leading-6 text-base;
}

.about-btns {
    @apply relative;
}

.about-btns a svg {
    @apply absolute top-8.25 left-8.25;
}
.about-btn {
    @apply size-22.5;
}
.abt-p {
    @apply flex flex-col gap-6;
}
.abt-p p{
    @apply text-primary text-base font-normal leading-6;
}

.about-title h2{
    @apply lg:text-48x text-2xl font-semibold md:leading-7.5 lg:leading-14.25 leading-10 text-primary;
}

/* ========================Top Destinations ===============================*/
.top-destinations{
    @apply lg:py-30 pb-30;
}
.top-destinations-title{
    @apply md:w-157.5 text-center mx-auto flex flex-col gap-6;
}
.top-destinations-title p{
    @apply text-primary text-base font-normal leading-6
}
.top-destination-contents{
    @apply grid lg:grid-cols-4 md:grid-cols-2 gap-6;
}
.single-top-destination {
    @apply p-4.25 border-1 border-body-2 rounded-xl flex gap-4 items-center transition-all duration-300 hover:bg-secondary focus:bg-secondary active:bg-secondary;
}
.single-top-destination img {
    @apply flex shrink-0 object-cover rounded-lg aspect-top-destination-img;
}
.top-destination-content h3{
    @apply text-primary font-semibold leading-6;
}
.top-destination-content p{
    @apply text-sm leading-6 text-body-3;
}

/* ========================Blog Area ===============================*/
.blog-title{
    @apply md:w-138.75;
}
.blog{
    @apply grid md:grid-cols-2 gap-6;
}
.blog-left-contents{
    @apply flex flex-col gap-6
}
.blog-content-bg{
    @apply flex flex-col gap-8
}

.blog-content-bg img{
    @apply flex shrink-0 object-cover aspect-blog-img rounded-3xl;
}
.blog-left-content{
    @apply flex flex-col gap-4;
}
.blog-left-content span{
    @apply text-orange leading-6 text-sm font-normal capitalize;
}
.blog-left-content p{
   @apply text-body text-base leading-6 font-normal;
}
.blog-btn a{
    @apply inline-block py-3 px-5.25 bg-primary text-white capitalize text-base font-normal leading-6 rounded-sm transition-all duration-300 ease-in-out hover:bg-orange hover:text-white focus:bg-orange focus:text-white active:bg-orange active:text-white;
}

