@import "tailwindcss";

/*================== Font link========================= */
/* ---------------Roboto Font Family ------------*/
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-ExtraBold.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-ExtraLight.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-SemiBold.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/*---------------- Poppins Font Family------------------ */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Black.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ExtraBold.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ExtraLight.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Thin.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}



/* ================= Basic Style ====================== */
@theme{
    /* Font Family */
    --font-roboto: 'Roboto', sans-serif;
    --font-poppins: 'Poppins', sans-serif;

    /* Color Palette */
    --color-primary: #012E41;
    --color-secondary: #F6F6F6;
    --color-2: #26A59E;
    --color-body: #345867;
    --color-orange:#FA7335;
    --color-orange-2:##FFD482;
    --color-white-200:#F4F4F6;
    --color-border:#E9E9E9;
    --color-primary-bg: rgba(1, 46, 65, 0.80);
    --color-secondary-bg: rgba(0, 0, 0, 0.65);
    
    /* Gradient */
    --background-image-gradient: rgba(255, 255, 255, 0.75);
    /* Custom Font Size */
    --text-64x:4rem;
    --text-48x:3rem;
    --text-34x:2.125rem;

    /* Custom shadow */
    --inset-shadow-primary: 0px 4px 15px rgba(0, 0, 0, 0.1);
    /* Custom Blur */
    --blur-primary:2.5px;
}

.container {
    @apply max-w-324 mx-auto 2xl:px-0 px-4 md:px-8;
}

@layer base {
  body {
    @apply font-roboto not-italic;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-poppins;
  }
}
/* ================= Component Style ====================== */
@layer components {

}


/*==================== Header Section ==========================*/
header {
    @apply py-5  bg-gradient inset-shadow-primary;
    backdrop-filter: blur(2.5px);
}
.site-logo a img {
    aspect-ratio: 47/18;
}
.mainmenu ul{
    @apply flex;
}
.mainmenu ul li a {
    @apply p-2 text-secondary-bg text-sm  leading-6 transition-all duration-300 ease-in-out  hover:text-orange;
}
.header-btn a {
    @apply text-white text-sm leading-6 font-normal py-2.25 px-5.25 bg-2 inline-block border-1 border-2 rounded-sm transition-all duration-300 ease-in-out hover:bg-white hover:text-2 hover:border-2 hover:border-2; 
}

/*==================== Mobile Menu ==========================*/
.mobile-menu ul li a{
    @apply text-secondary-bg text-sm  leading-6 transition-all duration-300 ease-in-out  hover:text-orange active:text-orange focus:text-orange;
}

.mobile-menu {
    @apply hidden text-center;
}
.mobile-menu ul {
    @apply flex flex-col gap-4;
}


.menu-toggle {
    @apply w-7.5 cursor-pointer;
}
.menu-toggle span {
    @apply block h-0.75 bg-black my-1.5 transition-all duration-300 ease-in-out;
}

/* Hamburger animation */
.menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}
.menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* Mobile menu */
.mobile-menu {
    @apply hidden bg-white p-5;
}
.mobile-menu ul {
    @apply p-0 list-none;
}
.mobile-menu ul li {
    @apply mb-2.5;
}
.mobile-menu ul li a {
    @apply no-underline text-secondary-bg text-sm  leading-6 transition-all duration-300 ease-in-out  hover:text-orange active:text-orange focus:text-orange; 
}


